@import "tailwindcss";
@import "./dark.css";
@import "./light.css";

@custom-variant dark (&:where(.dark, .dark *));

#app {
  width: 100vw;
  margin: 0 auto;
  font-weight: normal;
  height: 100vh;
  padding: 0;
  background-color: var(--color-light-background);
}

.dark #app {
  @apply bg-dark-background text-slate-100;
  scrollbar-color: var(--color-zinc-300) var(--color-zinc-500);
}

[data-p-severity="secondary"] {
  @apply bg-tertiary-500 text-on-secondary fill-on-secondary stroke-on-secondary hover:bg-tertiary-500/80;
}
[data-p*="error"] {
  @apply text-red-500;
}
* {
  @apply dark:border-outline-dark border-outline;
}
