@import "tailwindcss";
@import "./dark.css";
@import "./light.css";

@custom-variant dark (&:where(.dark, .dark *));

#app {
  width: 100vw;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
  height: 100vh;
  padding: 0;
  background-color: var(--color-slate-100);
}

.dark #app {
  @apply bg-slate-950 text-slate-100;
}

[data-p-severity="secondary"] {
  @apply bg-tertiary-400 text-on-secondary fill-on-secondary stroke-on-secondary;
}

* {
  @apply dark:border-outline-dark border-outline;
}
