@import "tailwindcss";
@import "./dark.css";
@import "./light.css";

@custom-variant dark (&:where(.dark, .dark *));

#app {
  width: 100vw;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
  height: 100vh;
  padding: 0;
  background-color: var(--color-slate-50);
}

.dark #app {
  background-color: var(--color-black);
}

[data-p-severity="secondary"] {
  @apply bg-secondary-400 text-on-secondary fill-on-secondary stroke-on-secondary;
}

[data-bg="surface"] {
  @apply text-on-surface dark:text-on-surface-dark;
}

* {
  @apply dark:border-outline-dark border-outline;
}
